.inbox-request-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inbox-request-block.light {
    background: #ffffff;
}

.inbox-request-block.dark {
    background: #2c2c2c;
}

.inbox-request-time-block,
.inbox-request-buttons-block {
    position: relative;
    padding: 15px;
}

.inbox-request-time-block {
    width: 150%;
}

.inbox-request-time-block,
.inbox-request-startdate-block,
.inbox-request-enddate-block,
.inbox-request-duration-block{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.inbox-request-startdate-block,
.inbox-request-enddate-block,
.inbox-request-duration-block{
    height: 45px;
}

.username {
    color: #617DA6;
    font-weight: 500;
}

.message {
    height: 1px;
}

.message.light {
    color: #1e1e1e;
}

.message.dark {
    color: #bebebe;
}

.inbox-request-startdate-text-block.light,
.inbox-request-enddate-text-block.light,
.inbox-request-duration-text-block.light{
    color: dimgrey;
}

.inbox-request-startdate-text-block.dark,
.inbox-request-enddate-text-block.dark,
.inbox-request-duration-text-block.dark{
    color: #8d8d8d;
}

.inbox-request-startdate-value-block.light,
.inbox-request-enddate-value-block.light,
.inbox-request-duration-value-block.light {
    color: #1e1e1e;
    margin-left: 5px;
}

.inbox-request-startdate-value-block.dark,
.inbox-request-enddate-value-block.dark,
.inbox-request-duration-value-block.dark{
    color: #bebebe;
    margin-left: 5px;
}

.inbox-request-buttons-block {
    display: flex;
    align-items: center;
}

.inbox-request-buttons-block button {
    border: none;
    background: transparent;
    width: 60px;
    transition: ease-in 0.2s;
}

.inbox-request-buttons-block button:hover {
    transform: scale(1.2);
}

.button-img {
    width: 40px;
}

@media screen and (max-width: 1200px){
    .inbox-request-time-block {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .inbox-request-time-block {
        width: 90%;
        font-size: 13px;
    }

    .message {
        font-size: 13px;
    }

    .inbox-request-time-block,
    .inbox-request-buttons-block {
        padding: 10px;
    }

    .message {
        padding: 0 0 0 10px;
    }
}

@media screen and (max-width: 750px) {
    .inbox-request-block {
        width: 100%;
        display: grid;
        position: relative;
    }

    .inbox-request-time-block {
        width: 95%;
        font-size: 13px;
    }

    .inbox-request-buttons-block {
        width: 80vw;
        height: 10px;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .inbox-request-block {
        height: auto;
    }

    .message {
        font-size: 10px;
    }

    .inbox-request-time-block {
        display: block;
        width: 80px;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .inbox-request-startdate-block,
    .inbox-request-enddate-block,
    .inbox-request-duration-block{
        height: 15px;
    }

    .button-img {
        width: 30px;
    }
}



