.person-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.person-block {
    border-top: 1px solid #8d8d8d;
    margin-bottom: -8px;
}

.person-info-block {
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.person-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.person-info {
    display: block;
    margin-left: 10px;
    align-items: center;
}

.person-data {
    display: flex;
    height: 30px;
    margin-top: -5px;
}

.person-data p {
    height: 1px;
}

.person-data.light p {
    color: #2c2c2c;
}

.person-data.dark p {
    color: #eeeeee;
}

.person-surname {
    margin-left: 5px;
}

.person-job {
    display: flex;
}

.person-position {
    position: relative;
    margin-left: 5px;
}

.person-position.light {
    color: #444444;
}

.person-position.dark {
    color: #bebebe;
}

.link-info-block {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.link-info-block a {
    color: #617DA6;
    text-decoration: none;
    transition: ease-in 0.2s;
}

.link-info-block a:hover {
    text-decoration-line: underline;
}

.link-info-block button {
    color: #617DA6;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
    transition: ease-in 0.2s;
}

.link-info-block button:hover {
    text-decoration-line: underline;
}

@media (max-width: 800px) {
    .person-img {
        height: 60px;
        width: 60px;
    }

    .position-icon {
        height: 17px;
        position: relative;
        width: 17px;
        top: 12px;
    }

    .person-position {
        position: relative;
        font-size: 13px;
        bottom: 1px
    }
}

@media (max-width: 450px) {
    .person-img {
        height: 50px;
        width: 50px;
    }

    .position-icon {
        height: 15px;
        position: relative;
        width: 15px;
        bottom: 5px;
    }

    .person-position {
        font-size: 13px;
        bottom: 4.5px
    }

    .person-name,
    .person-surname {
        font-size: 15px;
    }

    .link-info-block a {
        font-size: 10px;
    }

    .link-info-block button {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .person-img {
        height: 45px;
        width: 45px;
    }

    .position-icon {
        height: 13px;
        position: relative;
        width: 13px;
        top: 7px;
    }

    .person-position {
        font-size: 11px;
    }

    .person-name,
    .person-surname {
        font-size: 13px;
    }

    .link-info-block a {
        font-size: 10px;
    }

    .link-info-block button {
        font-size: 10px;
    }
}


