.footer {
    width: 100%;
    height: 100px;
    position: marker;
    bottom: 0;
    left: 0;
    gap: 15px;
    background-color: #617DA6;
    color: white;
    text-align: center;
    padding: 10px;
}

.link-block {
    display: block;
}

a {
    color: white;
}