.back {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.back.light {
    background-color: #d0d0d0;
}

.back.dark {
    background-color: #1e1e1e;
}

.banner {
    position: absolute;
    width: 100%;
    height: 200px;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

.content-center {
    width: 80%;
    height: 100vh;
}

.empty-area {
    position: relative;
    height: 100px;
}

@media screen and (max-width: 1500px) {
    .banner {
        height: 170px;
    }
}


@media screen and (max-width: 800px) {
    .banner {
        height: 130px;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        height: 100px;
    }
}
