.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal-justify-add {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-justify-add.light {
    background: white;
}

.modal-justify-add.dark {
    background: #2c2c2c;
}

.modal-screen-add {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.modal-screen-add.light {
    color: #1e1e1e;
}

.modal-screen-add.dark {
    color: #eeeeee;
}

.close-button-add {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button-add.light {
    color: #696969;
}
.close-button-add.dark {
    color: #eeeeee;
}

.title-add {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}

.select {
    padding: 1rem ;
    justify-content: center;
    width: 80%;
    aspect-ratio: 8.1/1;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid #c7c7c7;
    background: transparent;
}

.select.light {
    color: #1e1e1e;
}

.select.dark {
    color: #eeeeee;
}

.block {
    display: flex;
    justify-content: center;
    width: 100%;
    /*margin-bottom: 40px;*/
}

.date-block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.line-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    position: relative;
    top: 10px;
    width: 25px;
    height: 2px;
    background-color: #696969;
}

.date-input {
    display: flex;
    flex-direction: column;
    color: #696969;
    width: 28%;
}

.date-input label {
    text-align: left;
    font-size: 15px;
}

.date-input input {
    width: 100%;
    aspect-ratio: 3/1;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: transparent;
    color: #696969;
}

.date-field.light {
    color: #1e1e1e;
}

.date-field.dark {
    color: #eeeeee;
}

.comment-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
}

.comment-block label {
    font-size: 15px;
    margin-right: 65%;
    color: dimgrey;
}

.comment-block textarea {
    width: 80%;
    aspect-ratio: 3.38/1;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    background: transparent;
    padding: 5px;
}

.comment-area.light {
    color: #1e1e1e;
}

.comment-area.dark {
    color: #eeeeee;
}

.buttons-block {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.create-block {
    width: 35%;
}

.cancel-block {
    width: 35%;
}

.create-button {
    width: 100%;
    aspect-ratio: 3.6/1;
    border: none;
    background: #617DA6;
    color: #eeeeee;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.cancel-button {
    width: 100%;
    aspect-ratio: 3.6/1;
    border: 1px solid #617DA6;
    background: transparent;
    color: #617DA6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    transition: ease-in 0.2s;
}

.cancel-button:hover, .create-button:hover {
    transform: scale(1.15);
}

.errorDate-message {
    color: #cb0000;
    font-family: "Poppins", sans-serif;
    height: 10px;
}

@media screen and (max-width: 800px) {
    .modal-justify-add {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .modal-justify-add {
        width: 330px;
    }

    .select {
        width: 310px;
    }

    .block {
        width: 330px;
    }

    .date-input {
        width: 120px;
    }

    .comment-block textarea {
        width: 290px;
    }
}

@media screen and (max-width: 420px) {
    .modal-justify-add {
        width: 300px;
    }

    .select {
        width: 290px;
    }

    .block {
        width: 300px;
    }

    .date-input {
        width: 115px;
    }

    .comment-block textarea {
        width: 270px;
    }
}

@media screen and (max-width: 380px) {
    .modal-justify-add {
        width: 260px;
    }

    .select {
        width: 250px;
    }

    .block {
        width: 260px;
    }

    .date-input {
        width: 105px;
    }

    .comment-block textarea {
        width: 240px;
    }

    .line {
        width: 20px;
    }
}





