.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal-justify-logout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-justify-logout.light {
    background: white;
}

.modal-justify-logout.dark {
    background: #2c2c2c;
}

.modal-screen-logout {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.modal-screen-logout.light {
    color: #1e1e1e;
}

.modal-screen-logout.dark {
    color: #eeeeee;
}

.close-button-logout {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button-logout.light {
    color: #696969;
}
.close-button-logout.dark {
    color: #eeeeee;
}

.logout-block {
    margin-top: 40px;
}

.logout-image {
    width: 55px;
}

.text-block {
    display: grid;
}

.title {
    font-size: 20px;
    font-weight: 500;
    height: 1px;
}

.title.light {
    color: #1e1e1e;
}

.title.dark {
    color: #eeeeee;
}

.logout-buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 0 50px;
}

.logout_button_no, .logout_button_yes {
    border: none;
    width: 130px;
    aspect-ratio: 3.3/1;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

.logout_button_no:hover, .logout_button_yes:hover {
    transform: scale(1.15);
}

.logout_button_no {
    background: transparent;
    border: 2px solid #617DA6;
    color: #617DA6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 10px;
}

.logout_button_yes {
    background: #617DA6;
    color: #eeeeee;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-right: 10px;
}

@media screen and (max-width: 650px) {
    .modal-justify-logout {
        width: 300px;
        height: 200px;
    }

    .logout-block {
        margin-top: 10px;
    }

    .logout-image {
        width: 45px;
    }

    .title {
        font-size: 17px;
    }

    .logout-buttons {
        margin: 30px 0 0 0;
    }

    .logout_button_no, .logout_button_yes {
        width: 120px;
    }
}

@media screen and (max-width: 400px) {
    .modal-justify-logout {
        width: 250px;
        height: 200px;
    }

    .logout-block {
        margin-top: 10px;
    }

    .logout-image {
        width: 40px;
    }

    .title {
        font-size: 17px;
    }

    .logout-buttons {
        margin: 30px 0 0 0;
    }

    .logout_button_no, .logout_button_yes {
        width: 100px;
    }
}


