.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal-justify-report {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 500px;
    height: auto;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 10px /* Убираем лишние отступы для компактности */
}


.modal-justify-report.light {
    background: white;
}

.modal-justify-report.dark {
    background: #2c2c2c;
}

.modal-screen-report {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.modal-screen-report.light {
    color: #1e1e1e;
}

.modal-screen-report.dark {
    color: #eeeeee;
}

.close-button-report {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.close-button-report.light {
    color: #696969;
}
.close-button-report.dark {
    color: #eeeeee;
}

.report-block {
    display: block;
    justify-content: center;
}


.title-report-block {
    font-weight: 500;
}

.title-report-block.light {
    color: #1e1e1e;
}

.title-report-block.dark {
    color: #eeeeee;
}

.report-date-block,
.report-hours-block,
.report-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.report-date-block label,
.report-hours-block label,
.report-text-block label {
    font-size: 15px;
    color: #8d8d8d;
}

.report-date-block input,
.report-hours-block input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    color: #2c2c2c;
}

.report-date-block.dark input,
.report-hours-block.dark input,
.report-text-block.dark textarea {
    background: transparent;
    color: #eeeeee;
}

.report-text-block textarea {
    width: 280px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    color: #2c2c2c;
    padding: 10px;
}

.report-buttons-block {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 30px;
}

.report-buttons-block button {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: ease-in 0.2s;
}

.report-button-create {
    border: none;
    color: #eeeeee;
    background: #617DA6;
}

.report-button-cancel {
    border: 2px solid #617DA6;
    background: transparent;
    color: #617DA6;
}

.report-button-create:hover,
.report-button-cancel:hover {
    transform: scale(1.15);
}

.request-info-block,
.report-info-block {
    display: block;
    width: 100%;
    height: auto;
}

.request-info-block-reason-block,
.request-info-block-startDate-block,
.request-info-block-endDate-block,
.report-info-block-date-block,
.report-info-block-hours-block {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.request-info-block-comment-block {
    display: block;
    text-align: left;
}

.request-title-block {
    display: block;
    position: relative;
    background: transparent;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
}

.request-title-block.light {
    border: 1px solid #333333;
}

.request-title-block.dark {
    border: 1px solid #e3e3e3;
}

.request-info-block-comment-block-data,
.report-info-block-comment-block-data{
    word-wrap: break-word;
    position: relative;
    margin-left: 5px;
}

.report-action-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 20px;
}

.report-action-buttons-update {
    padding: 10px 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: #617DA6;
    border: none;
    border-radius: 10px;
}

.report-action-buttons-delete {
    padding: 10px 20px;
    color: #617DA6;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 2px solid #617DA6;
    background: transparent;
    border-radius: 10px;
}

.ai-button-block {
    display: flex;
    width: 300px;
    justify-content: left;
    padding-top: 15px;
}

.ai-button {
    border: 1px solid #617DA6;
    background: #617DA6;
    color: #eee;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.ai-button.disable {
    background: #7588a1;
    cursor: not-allowed;
}

.ai-icon {
    position: relative;
    top: 2px;
    left: 3px;
}

.report-button-create.disable {
    background: #7588a1;
    cursor: not-allowed;
}

.report-button-cancel.disable {
    border: 2px solid #7588a1;
    color: #7588a1;
    cursor: not-allowed;
}

@media screen and (max-width: 650px) {
    .modal-justify-report {
        width: 300px;
        height: auto;
    }

}

@media screen and (max-width: 400px) {
    .modal-justify-report {
        width: 250px;
        height: auto;
    }

    .report-date-block input,
    .report-hours-block input,
    .report-buttons-block {
        width: 250px;
    }

    .report-text-block textarea {
        width: 230px;
    }

    .report-buttons-block button {
        width: 110px;
    }
}