.react-calendar .has-report {
    width: 20px;
    height: 45px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}

.dark-theme {
    background-color: #2c2c2c;
    color: white;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme .react-calendar {
    background: #2c2c2c;
}

.dark-theme .react-calendar__tile {
    background: #2c2c2c;
    color: white;
}

.dark-theme .has-report.leave {
    background: #d56464;
}

.dark-theme .has-report.work {
    background: #617DA6;
}

.light-theme .react-calendar {
    background: white;
}

.light-theme .react-calendar__tile {
    background: white;
    color: black;
}

.light-theme .has-report.leave {
    background: #d56464;
}

.light-theme .has-report.work {
    background: #617DA6;
}

.react-calendar {
    border: none;
}

/* Навигация календаря */
.react-calendar__navigation {
    background-color: #617DA6;
    color: white;
}

.react-calendar__navigation button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif !important;
}

.dark-theme .react-calendar__navigation button:hover {
    background-color: #4f6b8f; /* немного темнее */
    cursor: pointer;
}

.light-theme .react-calendar__navigation button:hover {
    background-color: #4f6b8f; /* светло-серый на светлой теме */
    cursor: pointer;
}

.dark-theme .react-calendar__tile:hover {
    background-color: #989898;
    cursor: pointer;
}

.dark-theme .has-report.leave {
    background: #d56464;
}

.dark-theme .has-report.work {
    background: #617DA6;
}

.dark-theme .has-report:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.light-theme .react-calendar__tile:hover {
    background-color: #cdcdcd;
    cursor: pointer;
}

.light-theme .has-report.leave {
    background: #d56464;
}

.light-theme .has-report.work {
    background: #617DA6;
}

.light-theme .has-report:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

.react-calendar__tile {
}

/* Адаптивность */
@media screen and (max-width: 1100px) {
    .react-calendar {
        width: auto;
    }
}