.react-calendar .has-report {
    width: 20px;
    height: 45px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}

.dark-theme {
    background-color: #2c2c2c;
    color: white;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme .react-calendar {
    background: #2c2c2c;
}

.dark-theme .react-calendar__tile {
    background: #2c2c2c;
    color: white;
}

.dark-theme .has-report.leave {
    background: #d56464;
}

.dark-theme .has-report.work {
    background: #617DA6;
}


.light-theme .react-calendar {
    background: white;
}

.light-theme .react-calendar__tile {
    background: white;
    color: black;
}

.light-theme .has-report.leave {
    background: #d56464;
}

.light-theme .has-report.work {
    background: #617DA6;
}


.react-calendar {
}

/* Стили для верхней панели календаря */
.react-calendar__navigation {
    background-color: #444; /* Цвет фона панели */
    color: white; /* Цвет текста на панели */
    padding: 10px;
    /*border-radius: 10px 10px 0 0;*/
}

.react-calendar__navigation__label {
    font-weight: bold; /* Жирный текст для отображения месяца и года */
}

.react-calendar__navigation__arrow {
    color: white; /* Цвет стрелок навигации */
}

/* Темный режим */
.dark-theme .react-calendar__navigation {
    background-color: #617DA6;
    color: white;
}

.dark-theme .react-calendar__navigation__arrow {
    color: white;
}

/* Светлый режим */
.light-theme .react-calendar__navigation {
    background-color: #617DA6;
    color: black;
}

.light-theme .react-calendar__navigation__arrow {
    color: black;
}

@media screen and (max-width: 1100px) {
    .react-calendar {
        width: auto;
    }
}

