.main-block {
    height: 85%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #f5f5f5;
    padding: 0 0 20px 0;
}

.form-container.light {
    background: white;
}

.form-container.dark {
    background: #2c2c2c;
}

.log-in-text {
    text-align: center;
    padding: 0.7rem;
    background: #617DA6;
    border-radius: 10px 10px 0 0;
    color: white;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.center-block,
.button-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.email-block ,
.password-block ,
.button-block button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    color: #696969;
}
.label {
    margin-bottom: 5px;
}

.input {
    position: relative;
    border: 1px solid #d9d9d9;
    padding: 0.7rem;
    border-radius: 10px;
    width: 85%;
}

.input.dark {
    border: 1px solid #d9d9d9;
    background: transparent;
    color: #d9d9d9;
}

.input::placeholder {
    color: #d9d9d9;
}


.button-block button {
    display: flex;
    justify-content: center; /* Центрирование текста по горизонтали */
    align-items: center; /* Центрирование текста по вертикали */
    background: transparent;
    border: 1px solid #617DA6;
    color: #617DA6;
    border-radius: 10px;
    padding: 0.8rem;
    width: 80%; /* Ширина кнопки */
    cursor: pointer; /* Изменение курсора при наведении для улучшения UX */
    transition: ease-in 0.2s;
    margin: 15px 0;
}

.button-block button:hover {
    transform: scale(1.1);
}

.error-message {
    font-size: 15px;
    color: #cb0000;
    height: 10px;
}

.input-img {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.input-img input {
    margin-left: 15px;
}

.eye-icon {
    position: absolute;
    right: 20px;
    border: none;
    background: transparent;
}

.eye-icon {
    color: #7a7a7a;
}

.eye-icon.dark:hover {
    color: #b0b0b0;
}

.eye-icon.light:hover {
    color: #484848;
}


@media screen and (min-width: 1050px) {
    .center-block {
        margin: 15px 0;
    }
}


@media (max-width: 1050px) {
    .center-block {
        margin: 10px 0;
    }

    .form-container {
        width: 400px;
    }

    .error-message {
        font-size: 13px;
    }

    .password-block {
        position: relative;
        margin-top: 10px;
    }

    .button-block {
        position: relative;
        margin-top: 20px;
    }

}

@media (max-width: 900px) {
    .form-container {
        width: 430px;
    }

    .input-img input {
        margin-left: 18px;
    }
}

@media (max-width: 700px) {
    .form-container {
        width: 450px;
    }

    .input-img input {
        margin-left: 18px;
    }
}

@media (max-width: 600px) {
    .form-container {
        width: 450px;
    }

    .input-img input {
        margin-left: 17px;
    }
}
@media (max-width: 550px) {
    .form-container {
        width: 400px;
    }
}

@media (max-width: 500px) {
    .form-container {
        width: 370px;
    }

    .input-img input {
        margin-left: 12px;
    }
}

@media (max-width: 450px) {
    .input-img input {
        margin-left: 8px;
    }

    .eye-icon {
        right: 15px;
    }

    .form-container {
        width: 300px;
    }
}


@media (max-width: 400px) {
    .form-container {
        width: 280px;
    }
}

@media (max-width: 350px) {
    .form-container {
        width: 250px;
    }

    .eye-icon {
        right: 10px;
    }
}


